@charset "UTF-8";

/* 回答はここに書いてね */
.box_wrap {
  width: 900px;
  margin: 0 auto;
  background-color: #eff3f4;
  padding: 20px;
}

.sentence {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.imgLeft {
  margin: 0 20px 10px 0;
  float: left;
}

.imgRight {
  margin: 0 0 10px 20px;
  float: right;
}
/* 回答はここに書いてね */
