@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color:#ECF1F2;
  position: relative;
}

.main-top {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 200px;
  text-align: center;
  line-height: 100px;
  background-color: #ffefd3;
  font-size: 30px;
  font-weight: bold;
  z-index: 1;
}

.main-slantingRight-top {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 280px;
  text-align: center;
  line-height: 100px;
  background-color: #7084de;
  font-size: 30px;
  font-weight: bold;
  z-index: 2;
}

.main-right {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 360px;
  text-align: center;
  line-height: 100px;
  background-color: #d0ecea;
  font-size: 30px;
  font-weight: bold;
  z-index: 3;
}

.main-slantingRight-bottom {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 280px;
  left: 280px;
  text-align: center;
  line-height: 100px;
  background-color: #8b7e5e;
  font-size: 30px;
  font-weight: bold;
  z-index: 4;
}

.main-bottom {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 360px;
  left: 200px;
  text-align: center;
  line-height: 100px;
  background-color: #9fd6d2;
  font-size: 30px;
  font-weight: bold;
  z-index: 5;
}

.main-slantingLeft-bottom {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 280px;
  left: 120px;
  text-align: center;
  line-height: 100px;
  background-color: #fffee4;
  font-size: 30px;
  font-weight: bold;
  z-index: 6;
}

.main-left {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 40px;
  text-align: center;
  line-height: 100px;
  background-color: #deae70;
  font-size: 30px;
  font-weight: bold;
  z-index: 7;
}

.main-slantingLeft-top {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 120px;
  text-align: center;
  line-height: 100px;
  background-color: #de70cf;
  font-size: 30px;
  font-weight: bold;
  z-index: 8;
}

.main-out {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 10px;
  left: 10px;
  text-align: center;
  line-height: 100px;
  background-color: #2b69a3;
  font-size: 30px;
  font-weight: bold;
}

.main-slantingLeft-top:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color:#ffefd3 ;
}

/* 回答はここに書いてね */
