@charset "UTF-8";

/* 回答はここに書いてね */

.small {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 16px;
}

.small:nth-child(-n+4) {
  margin-right: 10px;
}

.middle {
  display: inline-block;
  padding: 6px 20px;
  border-radius: 5px;
  font-size: 20px;
}

.middle:nth-child(-n+4) {
  margin-right: 10px;
}

.large {
  display: inline-block;
  padding: 7px 25px;
  border-radius: 7px;
  font-size: 24px;
}

.large:nth-child(-n+4) {
  margin-right: 10px;
}

.shadow {
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
}

.blue {
  background-color: #00bcd4;
  color: #fff;
}

.pink {
  background-color: #ff4081;
  color: #fff;
}

.gray {
  background-color: #e5e5e5;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #222;
}

/*ここまでが前半*/
/*ここから後半*/

.form {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
  display: block;
}

.form_title {
  display: inline;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
  padding-right: 10px;
  position: relative;
  z-index: 1;
}

.form_inner {
  position: relative;
  margin-bottom: 20px;
}

.form_inner:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 12px;
  left: 0;
}

.left__inner {
  width: 300px;
  float: left;
}

.q8__name {
  display: inline-block;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.name__red {
  color: #f00;
}

#name {
  border: none;
  width: 170px;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  float: right;
  outline-style: none;
}

#name:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.gender__inner {
  margin-top: 20px;
  font-size: 0;
}

.gender__inner__head {
  width: 100px;
  line-height: 25px;
  text-align: right;
  display: inline-block;
  font-size: 16px;
}

.gender__inner__radio {
  display: inline-block;
  width: 180px;
  margin-left: 20px;
  font-size: 16px;
  vertical-align: top;
}

#man {
  display: none;
}

#woman {
  display: none;
}

.man__text:before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
}

#man:checked + .man__text:after {
  content: "";
  width: 8px;
  height:8px;
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
}

.man__text {
  padding: 3px 3px 3px 20px;
  position: relative;
  line-height: 16px;
  display: inline-block;
}

.woman__text {
  padding: 3px 3px 3px 20px;
  position: relative;
  line-height: 16px;
  display: inline-block;
}

.woman__text:before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
}


#woman:checked + .woman__text:after {
  content: "";
  width: 8px;
  height:8px;
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
}

.man {
  display: inline-block;
}

.woman {
  display: inline-block;
}

.graduate__inner {
  margin-top: 20px;
  font-size: 0;
}

.graduate__inner__head {
  width: 100px;
  text-align: right;
  line-height: 25px;
  display: inline-block;
  font-size: 16px;
}

.graduate__inner__sub {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.graduate__inner__sub:after {
  content: "";
  border-right: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  display: block;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  right: 10px;
}

.graduate__inner__select {
  margin-left: 20px;
  width: 180px;
  padding: 5px;
  line-height: 12px;
  font-size: 12px;
  background-color: #fff;
  -webkit-appearance: none;
  border: none;
}

.mail__red {
  color: #f00;
}

.mail__inner {
  margin-top: 20px;
  font-size: 0;
}

.mail__inner__email {
  display: inline-block;
  width: 100px;
  text-align: right;
  font-size: 16px;
}

#mail {
  display: inline-block;
  width: 170px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 12px;
  border: 0;
  padding: 5px;
  border-radius: 3px;
  outline-style: none;
}

#mail:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.tel__inner {
  margin-top: 20px;
  font-size: 0;
}

.tel__inner__tel {
  width: 100px;
  line-height: 25px;
  display: inline-block;
  text-align: right;
  font-size: 16px;
}

#TEL {
  width: 170px;
  padding: 5px;
  margin-left: 20px;
  font-size: 12px;
  border: none;
  line-height: 12px;
  border-radius: 3px;
  outline-style: none;
}

#TEL:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.check__inner {
  display: inline-block;
  margin-top: 20px;
  text-align: right;
  width: 300px;
}

#check {
  display: none;
}

.check__inner__check {
  position: relative;
  padding-left: 24px;
}

.check__inner__check:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
}

.check__inner input[type="checkbox"]:checked + .check__inner__check:after {
  content: "";
  width: 8px;
  height: 16px;
  transform: rotate(45deg);
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
}

.submit__inner {
  text-align: right;
  margin-top: 20px;
}

.submit__inner__text {
  font-size: 16px;
  line-height: 26px;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #00BCD4;
  color: #fff;
  border: none;
}

.submit__inner__text:focus {
  background-color: #fff;
  color: #00BCD4;
  outline: none;
}

.q8__textarea {
  float: right;
  width: 380px;
}

.q8__msg {
  box-sizing: border-box;
  width: 100%;
  height: 203px;
  padding: 10px;
  background-color: #fff;
  font-size: 12px;
  border: none;
  outline-style: none;
  resize: none;
}

.q8__msg:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}



/* 回答はここに書いてね */
